<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Open Trivia </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Votre pseudo</ion-label>
        <ion-input placeholder="Entrez votre pseudo" [(ngModel)]="pseudo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Difficulté</ion-label>
        <ion-select [(ngModel)]="difficulte">
          <ion-select-option value="easy">Easy</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="hard">Hard</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-toggle></ion-toggle>
      <ion-label [(ngModel)]="sauvegarder" ngDefaultControl>
        Sauvegarder mes informations
      </ion-label>
    </ion-item>

    <ion-button expand="full" (click)="commencer()">Commencer</ion-button>
    <p *ngIf="error && error.length > 0">{{error}}</p>
  </div>
</ion-content>